.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.main h1 {
  font-size: 2rem;
}

.main h2 {
  font-size: 1.2rem;
}

.main svg {
  font-size: 1.5rem;
  color: #4a90e2;
  cursor: pointer;
}
